In [5]:
import numpy as np
import pandas as pd
#import os
import matplotlib.pyplot as plt
%matplotlib inline

In [27]:

#os.chdir('H:\data_science\DS-SF-24\Data')
titantic = pd.read_csv('H:\data_science\DS-SF-24\Data\\titanic.csv')

In [29]:
titantic = titantic.set_index('name')
titantic.head()

,survived,pclass,sex,age,sibsp,parch,ticket,fare,cabin,embarked
name,,,,,,,,,,
"Braund, Mr. Owen Harris",0,3,male,22.0,1,0,A/5 21171,7.2500,NaN,S
"Cumings, Mrs. John Bradley (Florence Briggs Thayer)",1,1,female,38.0,1,0,PC 17599,71.2833,C85,C
"Heikkinen, Miss. Laina",1,3,female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
"Futrelle, Mrs. Jacques Heath (Lily May Peel)",1,1,female,35.0,1,0,113803,53.1000,C123,S
"Allen, Mr. William Henry",0,3,male,35.0,0,0,373450,8.0500,NaN,S

In [35]:
titantic.shape[0]

891

In [69]:
tot = float(titantic.survived.count())
tot_surv = float(titantic.survived.sum())
surv_pct = tot_surv/tot
print "Total Passengers: {}\nTotal Survivors: {}\nSurvival Rate: {}%".format(int(tot), int(tot_surv),round(surv_pct*100,1))

Total Passengers: 891
Total Survivors: 342
Survival Rate: 38.4%

In [75]:
tot_m = float(titantic.sex[titantic.sex == 'male'].count())
tot_surv_m = float(titantic.sex[(titantic.sex == 'male') & (titantic.survived == 1)].count())
tot_f = float(titantic.sex[titantic.sex == 'female'].count())
tot_surv_f = float(titantic.sex[(titantic.sex == 'female') & (titantic.survived == 1)].count())
surv_pct_m = tot_surv_m/tot_m
surv_pct_f = tot_surv_f/tot_f
print "Male Passengers: {}\nMale Survivors: {}\nSurvival Rate: {}%\n".format(int(tot_m), int(tot_surv_m),round(surv_pct_m*100,1))
print "Female Passengers: {}\nFemale Survivors: {}\nSurvival Rate: {}%".format(int(tot_f), int(tot_surv_f),round(surv_pct_f*100,1))

Male Passengers: 577
Male Survivors: 109
Survival Rate: 18.9%

Female Passengers: 314
Female Survivors: 233
Survival Rate: 74.2%